/* 
    public style
***********************
*/
:root{
    --main-color:#fbb519;
    --section-padding:30px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    color:var(--main-color);
}
.pad{
    padding: var(--section-padding) 0;
}
.container
{
  width: 80%;
  margin:auto;
  padding: 0 20px;
}

 .unlist{
     list-style: none;
 }
 a{
     text-decoration: none;
 }
/* 
    header style
***********************
*/
 header{
    font-family: 'Lobster', cursive;
 } 
 .header-content{
    display: flex;
}
.header-logo{
    width:50%;
}
.bar{
    position: relative;
    display: none;
    margin: auto 20px;
     transition: .2s;
     cursor: pointer;
     width: 50%;
    /* text-align: right; */
    justify-content: flex-end;
}
 .header-nav{
   min-width: 50%;
    display: flex;
    justify-content: flex-end;
 }
 .header-nav .list{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 17px;
 }
  .list li{
     font-size: 20px;
     transition: .2s;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -ms-transition: .2s;
     -o-transition: .2s;
     cursor: pointer;
     margin-bottom: 2px;
    }
     .list li:hover{
        border-bottom: 2px solid var(--main-color);
    }
    .hidden-list{
         text-align: center;
         position: absolute;
         width: 120px;
         top: 3px;
         right: -70px;
         background-color: #f5f5dc91;
         padding: 10px;
         border-radius: 25px;
         -webkit-border-radius: 25px;
         -moz-border-radius: 25px;
         -ms-border-radius: 25px;
         -o-border-radius: 25px;
         transition: .2s;
         -webkit-transition: .2s;
         -moz-transition: .2s;
         -ms-transition: .2s;
         -o-transition: .2s;
         visibility: hidden;
         display: none;
}
/* media quary for header*/
 @media (max-width: 991px){
   .header-nav {
      display: none;
  }
  .bar{
      display: flex;
  }
  .bar:hover .hidden-list{
    visibility: visible;
    display: block;
  }
}
/* 
    my-information&image style
  ********************************
 */ 
 .main-inform{
     color: var(--main-color);
    text-align: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
.main-inform img{
    width: 200px;
    height: 200px;
    border:3px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     margin-bottom: 10px;
    }
/* 
    my-work style
********************************
*/
.work{
text-align: center;
}
 .work-content{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: minmax(1fr,350px);
    gap:20px;
 }
 .work .work-head{
    text-align: center;
    font-family: 'Lobster';
 }
 .work-card{
 background-color: #f5f5dce8;
 }
 .card-img{
     width:100%;
     height:50%;
     background-color: #f5f5dce8;
 }
 .card-img img{
     width:100%;
     max-height: 100%;
     transition: .2s;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -ms-transition: .2s;
     -o-transition: .2s;
}

 .card-img img:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}
 .card-info{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
     text-align: center;
     width: 100%;
     height: 50%;
    background-color: #f5f5dce8;
    padding: 15px;
 }
 .card-title{
         font-family: 'Lobster', cursive;
 }

.card-info-text{
    margin:15px 0;
    font-size: 12px;
    font-weight: 400;
    /* padding: 2px; */
    text-align: center;
    color:#483705;
}
.card-info-text a{
    text-decoration: none;
    color: #e2bc66;
    font-weight: bolder;
}
/* .card p{
  margin:15px 0 ;
} */

.card-button{
    width: 95px;
    text-align: center;
    background-color: #ffc107;
     color:#483705;
    border: none;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px;
    /*margin-top: 7px; */
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    font-weight: bold;
} 
.card-button:hover{
     transform: scale(1.1); 
     -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1); 
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
}
.card-button a{
    text-decoration: none;
    color: #483705;
}

.about{
    text-align: center;
   
}
/* 
    review style
********************************
*/
.review{
    text-align: center;
}
.review-img{
    width:300px;
    height: 300px;
}
.review-img img{
    max-width: ;
}

/* 
media quary style
***************************************
//extra small devices @media (maxwidth:575px)
//small devices @media (maxwidth:767px)
//medium devices @media (maxwidth:991px)
//large devices @media (maxwidth:1199px)
*/
