/* 
    public style
***********************
*/
:root{
    --main-color:#fbb519;
    --section-padding:30px;
}
* , *:after , *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    color:var(--main-color);
}
.pad{
    padding: var(--section-padding) 0;
}
.container
{
  width: 80%;
  margin:auto;
  padding: 0 20px;
}
 .pad h5{
    text-align: center;
    font-family: 'Lobster';
    margin-bottom: 15px;
 }
 .unlist{
     list-style: none;
 }
/* 
    header style
***********************
*/
 header{
    font-family: 'Lobster', cursive;
 } 
 .header-content{
    display: flex;
}
.header-logo{
    width:50%;
}
.bar{
    position: relative;
    display: none;
    margin: auto 20px;
     transition: .2s;
     cursor: pointer;
     width: 50%;
    /* text-align: right; */
    justify-content: flex-end;
}
 .header-nav{
   min-width: 50%;
    display: flex;
    justify-content: flex-end;
 }
 .header-nav .list{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 17px;
 }
  .list li{
     font-size: 20px;
     transition: .2s;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -ms-transition: .2s;
     -o-transition: .2s;
     cursor: pointer;
     margin-bottom: 2px;
    }
     .list li:hover{
        border-bottom: 2px solid var(--main-color);
    }
    .hidden-list{
         text-align: center;
         position: absolute;
         width: 120px;
         top: 3px;
         right: -70px;
         background-color: #f5f5dc91;
         padding: 10px;
         border-radius: 25px;
         -webkit-border-radius: 25px;
         -moz-border-radius: 25px;
         -ms-border-radius: 25px;
         -o-border-radius: 25px;
         transition: .2s;
         -webkit-transition: .2s;
         -moz-transition: .2s;
         -ms-transition: .2s;
         -o-transition: .2s;
         visibility: hidden;
         display: none;
}
/* media quary for header*/
 @media (max-width: 991px){
   .header-nav {
      display: none;
  }
  .bar{
      display: flex;
  }
  .bar:hover .hidden-list{
    visibility: visible;
    display: block;
  }
}
/* 
    my-information&image style
  ********************************
 */ 
 .main-inform{
     color: var(--main-color);
    text-align: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
.main-inform img{
    width: 200px;
    height: 200px;
    border:3px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     margin-bottom: 10px;
    }
/* 
    my-work style
********************************
*/
.work{
    text-align: center;
}
 .work-content{
    display: grid;
    grid-template-columns:repeat(1,300px);
    gap:10px;
 }
 .work .work-head{
    text-align: center;
    font-family: 'Lobster';
 }
 .work-card{

 }
 .card-img{
     width:100%;
     height:70%;
 }
 .card-img img{
     max-width:100%;
     /* height:100%; */
     
 }
 .card-info{
     text-align: center;
     width: 100%;
 }
 .card-title{

 }
.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 4px solid var(--main-color);
    border-radius: 0.3rem;
}

.card img{
    max-width:100%;
    max-height: 150px;
    border-bottom: 3px solid;
}
.card img:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.card p{
    margin-bottom: 1rem;
    background-color: black;
    font-size: 10px;
    padding: 2px;
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#483705;
    background-color: #f5f5dce8;
    padding-top: 10px;

}
.card p a{
    text-decoration: none;
    color: #e2bc66;
    font-weight: bolder;
}
.card p:hover{
  
}

.card button{
    width: 95px;
    text-align: center;
    background-color: #ffc107;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin-top: 7px;
}
.card button:hover{
    width:120px;
    padding: 10px;
}
.card button a{
    text-decoration: none;
    color: #483705;
}

.about{
    text-align: center;
   
}

/* 
           media quary style
    ***************************************
        //extra small devices @media (maxwidth:575px)
        //small devices @media (maxwidth:767px)
        //medium devices @media (maxwidth:991px)
        //large devices @media (maxwidth:1199px)
*/